:root {
  font-size: percentage($root-font-size-px / 16);
  line-height: 30 / $root-font-size-px;

  // @include bp(medium) {
  //   font-size: 125%; // 16px → 20px
  // }
}

html {
  text-rendering: geometricPrecision;
  font-feature-settings: $opentype-features;

  &.wf-active {
    font-family: $font-family;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

// [rel='external'] {
//   &:after {
//     font-size: modular-scale(-2);
//     content: '↗';
//   }
// }

%link-minor {
  color: currentColor;
  box-shadow: 0 1px mix($color-highlight, $color-link, 50%);
  transition: color $transition-delay $transition-easing, box-shadow $transition-delay $transition-easing;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
    text-shadow: 1px 1px $color-white, -1px 1px $color-white, 1px -1px $color-white, -1px -1px $color-white;
    box-shadow: 0 1px $color-link, inset 0 -.15em $color-link; // 4px / 20px
  }
}

%link-major {
  color: $color-link;
  text-shadow: none;
  box-shadow: none;
  transition: color $transition-delay $transition-easing;

  &:hover,
  &:active,
  &:focus {
    color: $color-link-hover;
    text-shadow: none;
    box-shadow: none;
  }
}

a,
.link {
  @extend %link-minor;
}

.link--minor {
  @extend %link-minor;
}

.link--major {
  @extend %link-major;
}

%indented-paragraphs {
  & + & {
    margin-top: -1 * $space-x * 2;
    text-indent: $space-y * 1.5;
  }
}

p {
  @extend %indented-paragraphs;

  margin-bottom: $space-x * 2;
  font-feature-settings: $opentype-features, 'onum';
}

p + br {
  display: block;
  content: ' ';
}

h1,
h2,
h3 {
  @include hyphensify;
  font-family: $font-family-heading;
}

blockquote,
dd,
figure,
ol,
ul {
  margin-bottom: $space-x * 2;
}

figcaption {
  padding-top: $space-x * .25;
  font-size: modular-scale(-1);
  line-height: $space-x * 1.25;
  color: $color-text-light;
}

blockquote {
  font-family: $font-family-heading;
  font-size: modular-scale(1);
  font-feature-settings: $opentype-features, 'dlig';

  cite {
    display: block;

    font-size: modular-scale(-1);
    font-style: normal;
    color: $color-text-lighter;

    &::before {
      content: '—';
    }
  }
}

strong,
em {
  font-family: $font-family-heading;
  font-style: normal;
  font-weight: $font-weight-bold;
}

abbr {
  font-feature-settings: $opentype-features, 'smcp', 'c2sc';

  &[title] {
    text-decoration: none;
    cursor: help;
    border-bottom: $border-width dotted $border-color-dark;
  }
}


%small-caps {
  font-feature-settings: $opentype-features, 'smcp';
}

.small-caps {
  @extend %small-caps;
}

%caps-to-small-caps {
  font-feature-settings: $opentype-features, 'c2sc';
}

.caps-to-small-caps {
  @extend %caps-to-small-caps;
}

%all-to-small-caps {
  font-feature-settings: $opentype-features, 'smcp', 'c2sc';
}

.all-to-small-caps {
  @extend %all-to-small-caps;
}

.sub-title {
  @extend %all-to-small-caps;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-text-light;

  @include bp(medium) {
    font-size: modular-scale(-1);
  }
}
