// :root {}

html {
  font-family: $fallback-font-families;
  font-size: percentage($root-font-size-px / 16);
  line-height: $root-line-height / $root-font-size-px;
  color: color('text');
  text-rendering: geometricPrecision;
  background-color: color('bg');
  font-feature-settings: $font-features;

  @include bp(medium) {
    font-size: percentage(23 / 16); // 17px → 23px
  }

  @include bp(large) {
    font-size: percentage(30 / 16); // 17px → 30px
  }


  &.wf-active {
    font-family: $font-family;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

// [rel='external'] {
//   &:after {
//     font-size: modular-scale(-2);
//     content: '↗';
//   }
// }

%link-minor {
  color: currentColor;
  text-decoration: none;
  box-shadow: 0 1px color('link-light');
  transition: color $delay $easing, box-shadow $delay $easing;

  &:hover,
  &:active,
  &:focus {
    color: color('link-hover');
    text-shadow: 1px 1px color('white'), -1px 1px color('white'), 1px -1px color('white'), -1px -1px color('white');
    box-shadow: 0 1px color('link'), inset 0 -.15em color('link'); // 4px / 20px
  }
}

%link-major {
  color: color('link');
  text-shadow: none;
  box-shadow: none;
  transition: color $delay $easing;

  &:hover,
  &:active,
  &:focus {
    color: color('link-hover');
    text-shadow: none;
    box-shadow: none;
  }
}

a,
.link {
  @extend %link-minor;
}

.link--minor {
  @extend %link-minor;
}

.link--major {
  @extend %link-major;
}

%indented-paragraphs {
  & + & {
    margin-top: -1 * $space-l;
    text-indent: $space-l;
  }
}

p {
  @extend %indented-paragraphs;

  margin-bottom: $space-l;
  font-feature-settings: $font-features, 'onum';
}

p + br {
  display: block;
  content: ' ';
}

h1,
h2,
h3 {
  @include hyphensify;
}

blockquote,
dd,
figure,
ol,
ul {
  margin-bottom: $space-l;
}

figcaption {
  padding-top: $space-xs;
  font-size: modular-scale(-1);
  line-height: $line-height-heading;
  color: color('text-light');
}

blockquote {
  font-size: modular-scale(1);
  font-feature-settings: $font-features, 'dlig';

  cite {
    display: block;

    font-size: modular-scale(-1);
    font-style: normal;
    color: color('text-lighter');

    &::before {
      content: '—';
    }
  }
}

strong,
em {
  font-style: normal;
  font-weight: $font-weight-bold;
}

abbr {
  font-feature-settings: $font-features, 'smcp', 'c2sc';

  &[title] {
    text-decoration: none;
    cursor: help;
    border-bottom: $border-width dotted color('border-dark');
  }
}


%small-caps {
  font-feature-settings: $font-features, 'smcp';
}

.small-caps {
  @extend %small-caps;
}

%caps-to-small-caps {
  font-feature-settings: $font-features, 'c2sc';
}

.caps-to-small-caps {
  @extend %caps-to-small-caps;
}

%all-to-small-caps {
  font-feature-settings: $font-features, 'smcp', 'c2sc';
}

.all-to-small-caps {
  @extend %all-to-small-caps;
}

.sub-title {
  @extend %all-to-small-caps;
  font-family: $font-family;
  font-weight: $font-weight;
  color: color('text-light');

  @include bp(medium) {
    font-size: modular-scale(-1);
  }
}
