.organisations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include bp(large) {
    // @include span-columns(9);
    display: flex;
  }
}

.organisation {
  width: 100%;
  margin-right: $space-l;
  margin-bottom: $space-default;

  @include bp(medium) {
    width: auto;
  }

  a {
    @extend %link-major;
  }
}

.organisation__logo-link {
  display: block;
  width: auto;
  line-height: $space-xl;
  text-align: center;
  opacity: .3;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.organisation__logo {
  display: block;
  height: $space-xl;
  max-width: none;
  vertical-align: middle;
}
