.hero {
  @include outer-container;
}

.hero__inner {
  @include clearfix;

  padding: ($space-x * 2) $space-y;

  @include bp(medium) {
    padding-right: ($space-y * 2);
    padding-left: ($space-y * 2);
  }

  @include bp(large) {
    min-height: ($space-x * 21);
  }
}

.hero__text-unit {
  @include span-columns(12);

  @include bp(medium) {
    @include span-columns(9);
  }

  @include bp(large) {
    @include span-columns(7);
  }
}
