.avatar,
.avatar__image {
  width: $size-m;
  height: $size-m;
  border-radius: $border-radius-circle;

  @include bp(medium) {
    width: $size-s;
    height: $size-s;
  }
}

.avatar {
  position: relative;
  display: inline-block;
  background-color: color('grey-lighter');

  &::after {
    position: absolute;
    top: $space-xxs;
    right: $space-xxs;
    bottom: $space-xxs;
    left: $space-xxs;
    display: block;
    border: $border-width-l $border-style color('bg');
    border-radius: $border-radius-circle;
    content: '';
  }
}

.avatar__image {
  display: block;
  filter: brightness(150%) grayscale(100%);
}

.avatar--dark {
  .avatar__image {
    filter: brightness(127.5%) grayscale(100%);
  }
}

.avatar--darker {
  .avatar__image {
    filter: brightness(105%) grayscale(100%);
  }
}

.avatar--brighter {
  .avatar__image {
    filter: brightness(165%) grayscale(100%);
  }
}
