// .form {}

.input-label {
  display: block;
  margin-bottom: $space-s;
  color: color('text-light');
  font-feature-settings: $font-features, 'smcp', 'c2sc';
}

.input-control,
.input-textarea {
  width: 100%;
  padding: ($space-default / 3);
  border: $border;
  outline: none;

  &:focus,
  &:active {
    border-color: color('border')-dark;
  }
}

.input-textarea {
  height: $space-xxl;
  resize: none;

  // @include bp(medium) {}
}

.form__group {
  margin-bottom: $space-default;
}

.form__group--minor {
  margin-top: -1 * $space-default;
  font-size: modular-scale(-1);
}
