.hero-quote {
  @include grid-container;
}

.hero-quote__inner {
  @include grid-column(7);
  padding: $space-l 0;
  font-weight: $font-weight-bold;
  color: color('text');

  @include grid-media($neat-grid-medium) {
    @include grid-column(11);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(11);
    @include grid-push(2);
    padding-top: $space-l;
    padding-bottom: $space-l;
  }
}

.hero-quote__quote {
  min-height: 56.27813555vmin;
  margin: 0;
  font-size: modular-scale(1);
  line-height: $line-height-heading;

  @include bp(small-medium) {
    font-size: modular-scale(2);
  }

  @include bp(medium) {
    min-height: 0;
  }
}

