.main-nav {
  a {
    @extend %link-major;
    display: block;
    font-family: $font-family-alt;
    font-size: modular-scale(-1);
    color: color('text-light');
    font-feature-settings: $font-features, 'smcp', 'c2sc';

    &:hover,
    &:active,
    &:focus {
      color: color('text');
    }

    &.active {
      color: color('text-lighter');
    }
  }
}
