.network-list {
  @include font-family-alt;
  font-size: 0;
  font-feature-settings: $font-features, 'smcp', 'c2sc';

  a {
    @extend %link-major;
    font-size: 1rem;
    color: color('text-light');

    @include bp(large) {
      display: block;
      margin: 0;
    }

    &::after {
      content: ' · ';

      @include bp(large) {
        display: none;
      }
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.network-list__title {
  @include bp(large) {
    font-size: modular-scale(-1);
  }
}
