.footer {
  @include grid-container;
}

.footer__content,
.footer__legal {
  @include font-family-alt;
  padding-bottom: $space-m;
  margin-top: 0;
  font-size: modular-scale(-1);

  @include bp(medium) {
    color: color('text-lighter');
  }

  @include bp(large) {
    font-size: modular-scale(-2);
  }
}

.footer__content {
  @include grid-column(5);

  @include grid-media($neat-grid-medium) {
    @include grid-column(3);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(4);
  }
}

.footer__legal {
  @include grid-column(2);

  @include grid-media($neat-grid-medium) {
    @include grid-column(2);
    @include grid-push(6);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(3);
    @include grid-push(9);
  }
}
