.main-nav {
  a {
    @extend %link-major;
    @include font-family-alt;
    display: block;
    margin: 0;
    color: color('text-light');
    font-feature-settings: $font-features, 'smcp', 'c2sc';

    @include bp(large) {
      font-size: modular-scale(-1);
    }

    &:hover,
    &:active,
    &:focus {
      color: color('brand');
      opacity: 1;
    }

    &.active {
      color: color('text');
    }
  }
}
