.logo {
  $height-logo: $space-x * 1.5;

  display: inline-block;
  width:  $height-logo * 8.403637199; // aspect ratio of logo.svg
  height: $height-logo;

  svg {
    display: block;
    height: 100%;
    fill: color('brand');
  }
}

.logo--tiny {
  height: $space-x * .75;
  vertical-align: baseline;
}

.logo--monochrome {
  svg {
    fill: color('text-lighter');
  }
}
