$height-button: $space-l;
$height-button-small: $space-m;

.button {
  @include font-family-alt;
  display: inline-block;
  padding-right: $space-m;
  padding-left: $space-m;
  line-height: $height-button;
  color: color('text-light');
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  border: $border-width-l $border-style;
  border-radius: $border-radius-circle;
  box-shadow: none;

  @include bp(medium) {
    font-size: modular-scale(-1);
  }

  &:hover,
  &:focus,
  &:active {
    color: color('text');
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
  }
}

.button--primary {
  color: color('link');

  &:hover,
  &:focus,
  &:active {
    color: color('link-hover');
  }
}
