.header {
  // @include outer-container;

  a {
    @extend %link-major;
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;

  @include bp(large) {
    align-items: center;
    padding: ($space-l);
  }
}

.header__nav,
.header__brand {
  width: 100%;

  @include bp(large) {
    width: auto;
  }
}

.header__brand {
  padding: (2 * $space-default) $space-default 0;

  @include bp(medium) {
    padding-right: ($space-l);
    padding-left: ($space-l);
  }

  @include bp(large) {
    padding: 0 $space-default 0 0;
  }
}

.header__nav {
  @include touch-scroll;
  padding-left: ($space-s);
  overflow-x: auto;
  overflow-y: hidden;

  @include bp(medium) {
    padding-left: 1.5 * $space-default;
  }

  @include bp(large) {
    padding-left: 0;
    margin-right: -1 * ($space-s);
  }

  .main-nav {
    height: auto;
    white-space: nowrap;
  }
}
