.form {
  padding-bottom: $space-m;
}

.input-label {
  display: block;
  color: color('text-light');
  font-feature-settings: $font-features, 'smcp', 'c2sc';
}

.input-control,
.input-textarea {
  width: 100%;
  padding: ($space-m / 3);
  font-family: $font-family;
  border: $border;
  outline: none;

  &:focus,
  &:active {
    border-color: color('border')-dark;
  }

  .input-label + & {
    margin-top: $space-xs;
  }
}

.input-textarea {
  height: $space-xxl;
  resize: none;

  // @include bp(medium) {}
}

// .form__group {}

.form__group--minor {
  // margin-top: -1 * $space-m;
  font-size: modular-scale(-1);
}
