$button-height: $space-x * 1.5;

.button {
  display: inline-block;
  padding: 0 $space-y;
  font-size: modular-scale(-1);
  font-weight: $font-weight-bold;
  line-height: $button-height;
  color: $color-brand;
  text-align: center;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $color-highlight;
  border-radius: $border-radius;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    text-shadow: none;
    background-color: mix($color-shadow, $color-highlight, 10%);
    box-shadow: none;
  }
}

.button--primary {
  color: $color-highlight;
  background-color: $color-brand;

  &:hover,
  &:focus,
  &:active {
    color: $color-highlight;
    background-color: mix($color-shadow, $color-brand, 10%);
  }
}

.button--small {
  padding: ($space-x / 3 - rem(2)) ($space-y / 2) ($space-x / 3);
}

.button--inline {
  vertical-align: baseline;
}
