.article {
  @include grid-container;
}

.article__inner {
  // @include span-columns(12);
  padding: ($space-l) $space-default;

  @include bp(medium) {
    padding-right: ($space-l);
    padding-left: ($space-l);
  }
}

.article__title {
  display: inline-block;
  margin-left: $space-default;

  font-family: $font-family;
  font-size: modular-scale(1);
  font-weight: $font-weight;
  color: color('text-light');

  background-color: color('bg');
  box-shadow: (-1 * $space-default / 4) 0 color('bg'), ($space-default / 4) 0 color('bg');
  font-feature-settings: $font-features, 'smcp', 'c2sc';

  @include bp(medium) {
    margin-left: ($space-l);
    box-shadow: (-1 * $space-s) 0 color('bg'), ($space-s) 0 color('bg');
  }
}

.article__header {
  position: relative;
  z-index: 1;

  margin-right: -1 * $space-default;
  margin-bottom: ($space-l);
  margin-left: -1 * $space-default;

  @include bp(medium) {
    margin-right: -1 * ($space-l);
    margin-left: -1 * ($space-l);
  }

  &::after {
    position: absolute;
    top: 1.25em; // 25px / 20px
    right: 0;
    left: 0;
    z-index: -1;

    display: block;
    height: 1px;
    background-color: color('border');

    content: ' ';
  }
}

.article__content {
  // @include span-columns(12);

  @include bp(medium) {
    // @include span-columns(9);
  }

  @include bp(large) {
    // @include span-columns(7);
  }
}

.article--min-height {
  min-height: #{(100 * 2 / 3)}vh;
}

.article--full-width {
  .article__content {
    @include bp(medium) {
      // @include span-columns(12);
    }
  }
}

