.main-nav {
  display: flex;

  a {
    display: inline-block;
    padding: $space-x ($space-y / 2);
    color: $color-text-light;
    font-feature-settings: $opentype-features, 'smcp', 'c2sc';

    &:hover,
    &:active,
    &:focus {
      color: $color-text;
    }

    &.active {
      color: $color-text-lighter;
    }
  }
}
