.footer {
  @include grid-container;
}

.footer__content,
.footer__legal {
  padding: $space-m 0;
  font-size: modular-scale(-2);

  @include bp(medium) {
    color: color('text-lighter');
  }

  .link {
    font-family: $font-family-alt;
  }
}

.footer__content {
  @include grid-column(5);

  @include grid-media($neat-grid-medium) {
    @include grid-column(3);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(4);
  }
}

.footer__legal {
  @include grid-column(5);
  margin-top: $space-m;

  @include grid-media($neat-grid-medium) {
    @include grid-column(2);
    @include grid-push(6);
    margin-top: 0;
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(3);
    @include grid-push(9);
  }
}
