// ---
// The Base
// ---
$root-font-size-px:  17;
$root-line-height:   28;
$root-scaling-ratio: 1.333;

// ---
// Vendor
// ---
$em-base:             $root-font-size-px * 1px;
$modular-scale-ratio: $root-scaling-ratio;

// Only mixins and extended vendors, so that it can
// be used in this settings and other styles.
@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'accoutrement-color/sass/color';

// ---
// Colors
// ---

$colors: (
  'brand':        #00a86b,
  'shadow':       #222222,
  'highlight':    #fafafa,
  'white':        #ffffff,

  'grey-lighter': #d1d6d4,
  'grey-light':   #b0bab5,
  'grey':         #698075,
  'grey-dark':    #40574d,

  'brand-dark':   'brand' ('shade': 10%),

  'bg':           'highlight',
  'text':         'shadow',
  'text-light':   'grey',
  'text-lighter': 'grey-light',
  'link':         'brand',
  'link-light':   'brand' ('tint': 65%),
  'link-hover':   'brand' ('shade': 10%),
  'border':       'grey-lighter' ('tint': 30%),
  'border-dark':  'grey-lighter' ('shade': 20%),
);

// ---
// Typography
// ---
$fallback-font-families: 'Source Sans Pro', 'Open Sans', Avenir, 'Gill Sans MT', 'Gill Sans', Corbel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family:            'skolar-latin', $fallback-font-families;
$font-family-alt:        'soleil', $fallback-font-families;

$font-size: #{$root-font-size-px}px;
$font-weight:      400;
$font-weight-bold: 600;

$line-height-px:      $root-line-height * 1px;
$line-height:         $root-line-height / $root-font-size-px;
$line-height-heading: 1.33333;

$font-features: 'kern', 'liga'; //TODO: check 'frac' and add if required.

// ---
// Spaces
// ---

$space-default: 1rem * (($root-line-height / 2) / $root-font-size-px);;

$space-xxs: $space-default / 8;
$space-xs:  $space-default / 4;
$space-s:   $space-default / 2;
$space-m:   $space-default;
$space-l:   $space-default * 2;
$space-xl:  $space-default * 4;
$space-xxl: $space-default * 8;

// ---
// Border
// ---
$border-width:  1px;
$border-radius: 3px;

$border: $border-width solid color('border');

// ---
// Animation
// ---

// Delay
$delay: .1s;

// Easing
$easing: ease-out;
