// ---
// The Base
// ---
$root-font-size-px: 18;
$root-line-height: 30;
$root-scaling-ratio: 1.333;

// ---
// Vendor
// ---
$em-base: $root-font-size-px * 1px;
$modular-scale-ratio: $root-scaling-ratio;

// Only mixins and extended vendors, so that it can be used in this settings
// and other styles.
@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'accoutrement-color/sass/color';

// ---
// Colors
// ---

$color-brand:        #00a86b;
$color-shadow:       #0d1c0d;
$color-highlight:    #f2f5f5;
$color-grey-lighter: #d1d6d4;
$color-grey-light:   #b0bab5;
$color-grey:         #698075;
$color-grey-dark:    #40574d;
$color-white:        #ffffff;

$color-text: $color-shadow;
$color-text-light: $color-grey;
$color-text-lighter: $color-grey-light;

$color-link: $color-brand;
$color-link-hover: mix($color-shadow, $color-brand, 10%);

// ---
// Typography
// ---
$fallback-font-families: 'Source Sans Pro', 'Open Sans', Avenir, 'Gill Sans MT', 'Gill Sans', Corbel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family:         'skolar-latin', $fallback-font-families;
$font-family-heading: 'soleil', $fallback-font-families;

$font-size: #{$root-font-size-px}px;
$font-weight:      400;
$font-weight-bold: 600;

$opentype-features: 'kern', 'liga'; //TODO: check 'frac' and add if required.

// ---
// Spaces
// ---
$line-height: 28px; // $root-line-height
$line-height-heading: 1.33333;

$space-x: 1rem * ((strip-units($line-height) / 2) / $root-font-size-px);
$space-y: $space-x * $modular-scale-ratio;

// ---
// Border
// ---
$border-color: mix($color-highlight, $color-grey-lighter, 30%);
$border-color-dark: mix($color-shadow, $color-grey-lighter, 20%);

$border-width: 1px;
$border-radius: 3px;

$border: $border-width solid $border-color;

// ---
// Animation
// ---

// Delay
$transition-delay: .1s;

// Easing
$transition-easing: ease-out;
