// ---
// The Base
// ---
$root-font-size-px:  17;
$root-line-height:   28;
$root-scaling-ratio: 1.333;
$root-space: 1rem * (($root-line-height / 2) / $root-font-size-px);

// ---
// Breakpoints
// ---

$breakpoints: (
  small:   0,
  medium:  640,
  large:   1024,
  xlarge:  1200,
  xxlarge: 1440
);

// ---
// Vendor
// ---

// Bourbon
$em-base:             $root-font-size-px * 1px;
$modular-scale-ratio: $root-scaling-ratio;

// Bourbon Neat
$neat-grid: (
  columns: 7,
  gutter: $root-space,
);
// Use 3-4 Column configurations

$neat-grid-medium: (
  columns: 11,
  gutter: $root-space,
  media: (map-get($breakpoints, medium) / 16) * 1em
);
// Use 3-6-2 Column configurations

$neat-grid-large: (
  columns: 16,
  gutter: $root-space,
  media: (map-get($breakpoints, large) / 16) * 1em
);
// Use 4-9-3 Column configurations

// Only mixins and extended vendors, so that it can
// be used in this settings and other styles.
@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'bourbon-neat/core/neat';
@import 'accoutrement-color/sass/color';

// ---
// Colors
// ---

$colors: (
  'brand':        #00a86b,
  'shadow':       #222222,
  'highlight':    #fafafa,
  'white':        #ffffff,

  'grey':         #757575,
  'grey-lighter': 'grey' ('tint': 13.5%),
  'grey-light':   'grey' ('tint': 27%),
  'grey-dark':    'grey' ('shade': 27%),

  'brand-dark':   'brand' ('shade': 10%),

  'bg':           'highlight',
  'text':         'shadow',
  'text-light':   'grey-light',
  'text-lighter': 'grey-lighter',
  'link':         'brand',
  'link-light':   'grey' ('tint': 75%),
  'link-hover':   'brand' ('shade': 10%),
  'border':       'grey-lighter' ('tint': 30%),
  'border-dark':  'grey-lighter' ('shade': 20%),
);

// ---
// Typography
// ---
$fallback-font-families: 'Source Sans Pro', 'Open Sans', Avenir, 'Gill Sans MT', 'Gill Sans', Corbel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family:            'skolar-latin', $fallback-font-families;
$font-family-alt:        'soleil', $fallback-font-families;

$font-size: #{$root-font-size-px}px;
$font-weight:      400;
$font-weight-bold: 600;

$line-height-px:      $root-line-height * 1px;
$line-height:         $root-line-height / $root-font-size-px;
$line-height-heading: 1.33333;

$font-features: 'kern', 'liga'; //TODO: check 'frac' and add if required.

// ---
// Spaces
// ---

$space-xxs: $root-space / 8;
$space-xs:  $root-space / 4;
$space-s:   $root-space / 2;
$space-m:   $root-space;
$space-l:   $root-space * 2;
$space-xl:  $root-space * 4;
$space-xxl: $root-space * 8;

// ---
// Border
// ---
$border-width:    1px;
$border-width-l:  $root-space / 8;
$border-width-xl: $root-space / 4;
$border-radius:   3px;

$border-style: solid;

$border: $border-width $border-style color('border');

// ---
// Animation
// ---

// Delay
$delay: .1s;

// Easing
$easing: ease-out;
