{% from "../macros/contact-trigger-tag.njk" import contactTriggerTag %}
{% from "../macros/divider.njk" import divider %}
{{ divider() }}
<div class="footer">
		{% if not hideContactOnFooter %}
		<div class="footer__content">
			<a class="link link--minor" href="{{ site.newsletterSignupUrl }}" rel="external">Newsletter</a>,
      <a class="link link--minor" href="{{ site.twitterUrl}}" rel="external">Twitter</a>
      {#
      ,<a class="link link--minor" href="{{ site.facebookUrl }}" rel="external">Facebook</a>
      #}
		</div>
		{% endif %}
		<div class="footer__legal">&copy; {{ site.date.getFullYear() }} Alaris Prime</div>
</div>
