---
title: We Work With
description: The people and companies we collaborate.
---

{% from "./macros/member-snippet.njk" import memberSnippet %}
{% from "./macros/img-srcset.njk" import profileImgSrcset %}

{% extends "./layouts/base.njk" %}

{% block content %}
<article class="article">
	<div class="article__header">
		<h1 class="article__title">{{title}}</h1>
	</div>
	<div class="article__content">
		{% for member in collections.members %}
			{{ memberSnippet(member, md5, objectKeys, console) }}
		{% endfor %}
	</div>
</article>
{% endblock %}
